@mixin border-radius-small {
  border-radius: 10px;
}

@mixin border-radius-large {
  border-radius: 20px;
}



$mud: #1D4776;
//    e.g. boarders

$sand: #edc471;
//    e.g. notification boxes

$wet_sand: #eae5cd;
//    e.g. some boarders


$sky: #1D4776;
// . e.g. heading boxes
$water: #033266;


$night: #f9c834;
$dark_night: #e4b832;


//$night: #784972;
//$dark_night: #563852;



$gold: #1D4776;
//  e.g. heading boxes
$light_gold: #FFD966;
//  e.g. new window flash-temp highlight



// original palette:

// $mud: #ccc1a7;
// $sand: #f1e9d5;
// $wet_sand: #eae5cd;

// $sky: #68c6b9;
// $water: #00a791;

// $night: #015562;
// $dark_night: #00333d;

// $gold: #fcca46;
// $light_gold: #fdde89;
