@mixin border-radius-small {
  border-radius: 10px;
}

@mixin border-radius-large {
  border-radius: 20px;
}



$mud: #deb461;
//    e.g. boarders

$sand: #FFECB2;
//    e.g. notification boxes

$wet_sand: #eae5cd;
//    e.g. some boarders


$sky: #FCC33F;
// . e.g. heading boxes
$water: #033266;



$night: #76236C;
$dark_night: #481268;



$gold: #fcca46;
$light_gold: #fdde89;



// original palette:

// $mud: #ccc1a7;
// $sand: #f1e9d5;
// $wet_sand: #eae5cd;

// $sky: #68c6b9;
// $water: #00a791;

// $night: #015562;
// $dark_night: #00333d;

// $gold: #fcca46;
// $light_gold: #fdde89;
