@mixin border-radius-small {
  border-radius: 10px;
}

@mixin border-radius-large {
  border-radius: 20px;
}



$mud: #ccc1a7;
//    e.g. boarders

$sand: #f1e9d5;
//    e.g. notification boxes

$wet_sand: #d7a1f9;
//    e.g. ?? maybe background



$sky: #6884A3;
// . e.g. heading boxes
$water: #355B85;



$night: #033266;
$dark_night: #022851;



$gold: #fcca46;
$light_gold: #fdde89;



// original palette:

// $mud: #ccc1a7;
// $sand: #f1e9d5;
// $wet_sand: #eae5cd;

// $sky: #68c6b9;
// $water: #00a791;

// $night: #015562;
// $dark_night: #00333d;

// $gold: #fcca46;
// $light_gold: #fdde89;
